<div class="wrapper">
    <div class="title-text">
        <div class="title signup">Crie sua conta gratuitamente</div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <div class="alert"></div>
            <form onsubmit="register(event);" method="POST" class="signup" id="register">
                <div class="field">
                    <input type="text" name="name" id="name" placeholder="Nome completo:" required>
                </div>
                <div class="field">
                    <input type="text" name="email" id="email" placeholder="Melhor e-mail:" required>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Cadastrar">
                </div>
            </form>
        </div>
    </div>
</div>